<div id="panneau-mon-itineraire" class="encadre-carte" style="top: 220px; right: 10px; min-width:170px; display:none;">
<b>Mon itinéraire</b><br>
Distance : <span id="total-distance">0</span> km<br>
Dénivelé + : <span id="total-positif">0</span> m<br>
Dénivelé - : <span id="total-negatif">0</span> m<br>
Temps estimé : <span id="total-temps">0h00</span><br>
Départ conseillé : <span id="depart-conseille">-</span><br>
<button id="bouton-reset-itineraire">Réinitialiser</button>
<button id="bouton-valider-itineraire">Valider</button>
<button id="bouton-modifier-itineraire" style="display:none;">Modifier</button>
</div>
